/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 65%;
  height: 100vh;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Nav bar */
.header {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 100px;
  background: transparent;
  z-index: 999; /* brings navbar to the front, too many stacked elements*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
/* very interesting I thought
it seems that is a default hyperlink style which makes things go blue and underlined
i very much hated, these two removes them on hover.
*/
.logo:hover {
  text-decoration: none;
  color: #ffffff;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}
.navbar a:hover:before {
  width: 100%;
}
.navbar :hover {
  text-decoration: none;
  color: #bbbbbb;
}

/* DROPDOWN Menu */

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
.dropbtn {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: #222222;
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00264d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: none;
}

*/
/* very interesting I thought
it seems that is a default hyperlink style which makes things go blue and underlined
i very much hated, these two removes them on hover.
*/


/*SearchBar */
.search-input-wrapper {
  width: 100%;
  height: 5rem;
  background-color: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.search-input-wrapper.change {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 1s;
}
.search-input {
  width: 30rem;
}

.search-input input {
  width: 27rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #999999;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  outline: none;
  color: #555555;
  margin-right: 1rem;
}

.search-input i {
  font-size: 1.5rem;
  color: #999999;
  cursor: pointer;
}

.search-icon {
  font-size: 1.5rem;
  position: relative;
  animation: searchIconAnim2 0.5s forwards;
}

.search-icon.change {
  animation: searchIconAnim 1s forwards;
}
.search-icon i {
  color: #999999;
  cursor: pointer;
}

@keyframes searchIconAnim {
  0% {
    top: 1.7rem;
  }

  40% {
    top: 40%;
    font-size: 25rem;
  }

  60% {
    top: 40%;
    right: calc(50% + 16rem);
  }

  100% {
    top: 1.7rem;
    right: calc(50% + 16rem);
  }
}

@keyframes searchIconAnim2 {
  0% {
    right: calc(50% + 16rem);
  }

  100% {
    right: 3rem;
  }
}



  
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* Parallax scrolling, in development...*/
.hero,
.toaster {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("https://cdn.glitch.global/ab2b39ee-452e-47f4-a75d-fdc6454efb21/Red%20Dead%20Redemption%202%20Screenshot%202023.07.15%20-%2023.13.45.52.png?v=1689663074252")
    top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.05); /*-1 2.05*/
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("https://cdn.glitch.global/ab2b39ee-452e-47f4-a75d-fdc6454efb21/starry%20night%20foreground.png?v=1689458342305")
    top center;
  background-size: cover;
}
.hero .text {
  top: 20%;
  font-size: 10vh;
  transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 5%);
}
.text {
  top: 30%;
  left: 50%;
  position: absolute;
  font-family: "Franklin Gothic Heavy", Franklin Gothic;
  font-size: 10vw;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
  transform: scale(1, 1.1) translate(-50%, 10%);
}

/* title animation */
#letGetBread {
  text-align: center;
  letter-spacing: 0.2rem;
  /*   border-right: 5px solid; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
}
#today {
  text-align: center;
  letter-spacing: 0.2rem;
  /*   border-right: 5px solid; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

/* toaster animation */
.toaster {
  background: #000;
  /*background: rgb(68,35,19);*/
  display: grid;
  justify-items: center;
  align-items: center;
}
/* .toastContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  left:20%;
}
.toasterImg{
  position: absolute;
} 
#blue{
  transform: translateY(-200px); 
}
.animationEle{
  display:inline-block;
  animation:slideOnBot 2s ease-out 1.8s backwards;
  transition:0.3s ease 0s;
  animation:slideOnTop 2s ease-out 1.8s backwards;
}
@keyframes slideOnBot{
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0px)
  }
}
@keyframes slideOnTop{
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0px);
  }
}
 */

/* scroll bow animation */
.flipper {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 0 40px;
  height: 150px;
  overflow: hidden;
}
.line {
  text-transform: uppercase;
  text-align: center;
  font-size: 130px;
  line-height: 150px;
}
.line:first-child {
  animation: anim 12s infinite;
}
@keyframes anim {
  0% {
    margin-top: 0px;
  }
  16% {
    margin-top: -160px;
  }
  33% {
    margin-top: -320px;
  }
  50% {
    margin-top: -480px;
  }
  66% {
    margin-top: -320px;
  }
  82% {
    margin-top: -160px;
  }
  100% {
    margin-top: 0px;
  }
}

/* cards */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000000;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

.carousel-inner img {
  width: 50%;
  height: 300px;
  border: 3px solid #dddddd;
  border-radius: 25px;
  border-color: navy;
  padding: 5px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 78%;
  height: auto;
}

.contain-info {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.informative {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.lititle {
  text-align: center;
}

a:focus {
  background-color: #eab126;
}
a:hover:not(.active) {
  background-color: #111111;
}

/* insta */
.insta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 20px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: dodgerblue;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* faq page */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.container2{
  max-width:1170px;
  margin:0;
}
.row2{
  color: #ffffff;
  min-height:20vh;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.faq{
  background: #000000;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

section{
  min-height: 100vh;
  width:80%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.faqTitle{
  font-family: "Quicksand", sans-serif;
  font-size: 8rem;
  margin: 2rem 0rem;
  color: #ffffff;
  padding-bottom: 4rem;
}
.faqContainer{
  margin: 0 auto;
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.question h3{
  font-size: 4rem;
  color: #fff;
}
.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  color: #fff;
}
.answer img{
  width: 200px;
}
.faqContainer.active .answer{
  max-height: 300px;
}







.backgroundtbd{
  background: #000000;
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center 
}
.centered{
  text-align:center;
}